.batch {
  margin: 0 auto;
  width: 100%; }
  .batch main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    max-width: 1000px; }
  .batch > header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex: 2 100%; }
